@tailwind base;
@tailwind components;
@tailwind utilities;

.main-gradient {
  background: linear-gradient(180deg, #0043F4 60%, #EDEFF5 50%);
}

@media (min-width: 768px) {
  .main-gradient {
    background: linear-gradient(90deg, #0043F4 60%, #EDEFF5 40%);
  } 
}

@media (min-width: 1536px) {
  .main-gradient {
    background: linear-gradient(90deg, #0043F4 57%, #EDEFF5 43%);
  } 
}
